**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.db
**/*.sqlite
**/bin
**/obj
**/node_modules
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md