version: '3.8'

services:
  webapi:
    image: admin-customer-api
    build: .
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
    networks:
      - admin_customer_api_default
      - mariadb_setup_default  # ← เพิ่ม network นี้
    restart: unless-stopped

networks:
  admin_customer_api_default:
    external: true
  mariadb_setup_default:
    external: true